@media (max-width: 1100px) {

    .create_quizz {
        width: 340px;
    }

    .quizzes {
        display: flex;
        flex-direction: column;
        width: 340px;
        gap: 12px 0px;
    }
    /*----------------*/
    .selected_quizz {
        height: 142px;
    }
    .text_selected_quizz {
        font-size: 19px;
        line-height: 22px;
    }
}