@media (max-width: 1100px) {

    .create_quizz {
        width: 340px;
    }
    .quizzes {
        display: flex;
        flex-direction: column;
        width: 340px;
        gap: 12px 0px;
    }
    .all {
        margin-bottom: 14px;
    }
    /*----------------*/
    .quizz_header {
        height: 142px;
    }
    .quizz_title {
        font-size: 19px;
        line-height: 22px;
    }
    .question_box {
        margin-top: 24px;
        width: 375px;
        padding-top: 22px;
        padding-bottom: 20px;
    }
    .content_question_box {
        width: 375px;
    }
    .question {
        margin: -4px 0px 12px 0px;
        width: 340px;
        height: 89px;
    }
    .text_question {
        font-size: 19px;
        line-height: 22px;
    }
    .text_options {
        margin-top: 4px;
        height: 22px;
        font-size: 13px;
        line-height: 15px;
    }
    .options {
        width: 164px;
        height: 144px;
    }
    .options img {
        height: 113px;
    }
    .images_box {
        gap: 12px 12px;
        width: 340px;
    }
    .restart {
        margin-top: 34px;
        width: 220px;
        height: 44px;
        font-size: 18px;
        line-height: 21px;
    }
    .home {
        margin: 16px 0px 60px 0px;
        font-size: 18px;
        line-height: 21px;
    }
    .text-quiz-result {
        font-size: 17px;
        line-height: 20px;
    }
    /*----------------*/
    .simulate_text_area {
        height: 177px;
    }
    .container-edits {
        width: 375px;
    }
    .container-inputs {
        width: 375px;
    }
    .inputs-page-3 {
        width: 346px;
    }
    .quizz-finalizado {
        width: 340px;
        height: 181px;
        margin-bottom: 0px;
        margin-top: 26px;
    }
    .your-container-quizz {
        width: 340px;
        height: 181px;
    }
    .your-quizz-transparency {
        width: 340px;
        height: 181px;
    }
    .your-quizz-img {
        width: 340px;
        height: 181px;
    }
    .your-text_quizz {
        margin: 0px 18px 7px 18px;
        font-size: 19px;
        line-height: 22px;
    }
    .botão-page-3 {
        margin-top: 34px;
        font-size: 18px;
        line-height: 21px;
    }
    /*----------------*/
    .loading_margin {
        margin-top: 50%;
    }
    /*----------------*/
    .confirmacao-de-exclusão{
        width: 200px;
        margin-top: 70%;
        padding: 10px;
    }
    .confirmacao-de-exclusão p{
        line-height: 23px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .confirmar-exclusao{
        line-height: 23px;
        font-size: 18px;
        margin-bottom: 5px;
        padding: 1.5px 7px 1.5px 7px;
    }
    .cancelar-exclusao{
        line-height: 23px;
        font-size: 18px;
        padding: 1.5px 7px 1.5px 7px;
    }
}